<div class="table-wrapper">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="min-width center"><input type="checkbox"></th>
                <th class="min-width center">ID</th>
                <th class="min-width center">Image</th>
                <th>Title</th>
                <th class="min-width center">Featured</th>
                <th class="min-width center">Verified</th>
                <th class="min-width"></th>
            </tr>
        </thead>

        <tbody>
        {% for agency in site.data.agencies %}
        <tr>
            <td class="min-width center"><input type="checkbox"></td>

            <td class="min-width center id">#{{ agency.id }}</td>

            <td class="min-width center">
                <img src="{{ agency.image }}" alt="{{ agency.title }}">
            </td>

            <td>
                <h2>
                    <a href="#">{{ agency.title }}</a>
                    <span>{{ agency.address }}</span>
                </h2>
            </td>


            <td class="min-width center">
                <div class="status">
                    {% if agency.featured %}
                    <i class="fa fa-check"></i>
                    {% else %}
                    <i class="fa fa-times"></i>
                    {% endif %}
                </div><!-- /.status -->
            </td>

            <td class="min-width center">
                <div class="status">
                    {% if agency.verified %}
                    <i class="fa fa-check"></i>
                    {% else %}
                    <i class="fa fa-times"></i>
                    {% endif %}
                </div><!-- /.status -->
            </td>

            <td class="min-width">
                {% include components/admin/actions.html %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div><!-- /.table-wrapper -->