<div class="admin-header">
	<div class="container-fluid">
		<div class="admin-header-sidebar-toggle toggle">
			<span></span>
			<span></span>
			<span></span>
		</div>

		{% include components/navigation.html %}

		<div class="admin-header-avatar">
			<span class="avatar" style="background-image: url('../assets/img/tmp/user-10.jpg');"></span>
			<span class="admin-header-avatar-name">John Kane <i class="fa fa-chevron-down"></i></span>

			<ul class="admin-header-avatar-menu">
				<li><a href="#">Your Profile</a></li>
				<li><a href="#">Change Password</a></li>				
				<li><a href="#">Sign Out</a></li>				
			</ul><!-- /.admin-header-avatar-menu -->
		</div><!-- /.admin-header-avatar -->

		<div class="admin-header-actions">
			<div class="admin-header-action">
				<a href="#"><i class="fa fa-cog"></i></a>
			</div><!-- /.admin-header-action -->

			<div class="admin-header-action">
				<a href="#">
					<i class="fa fa-bell-o"></i>
					<span class="active"></span>
				</a>
			</div><!-- /.admin-header-action -->		
		</div><!-- /.admin-header-actions -->
	</div><!-- /.container -->
</div><!-- /.admin-header -->