<div class="stats">
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="stat-box stat-box-red">
                <div class="stat-box-icon"><i class="fa fa-pie-chart"></i></div>

                <strong>$425,123</strong>
                <span>Total Earnings</span>
            </div><!-- /.stat-box -->
        </div><!-- /.col-* -->

        <div class="col-md-6 col-lg-3">
            <div class="stat-box stat-box-green">
                <div class="stat-box-icon"><i class="fa fa-comments"></i></div>

                <strong>4,558</strong>
                <span>Pending Comments</span>
            </div><!-- /.stat-box -->
        </div><!-- /.col-* -->

        <div class="col-md-6 col-lg-3">
            <div class="stat-box stat-box-blue">
                <div class="stat-box-icon"><i class="fa fa-diamond"></i></div>

                <strong>16,584</strong>
                <span>Total Objects</span>
            </div><!-- /.stat-box -->
        </div><!-- /.col-* -->

        <div class="col-md-6 col-lg-3">
            <div class="stat-box stat-box-purple">
                <div class="stat-box-icon"><i class="fa fa-database"></i></div>

                <strong>Very Good</strong>
                <span>Database performace</span>
            </div><!-- /.stat-box -->
        </div><!-- /.col-* -->
    </div><!-- /.row -->
</div><!-- /.stats -->