<div class="admin-page-title">
	<div class="container-fluid">
		<a href="admin-dashboard.html" class="admin-page-title-back">
			<i class="fa fa-long-arrow-left"></i> 
		</a>

		<h1>{{ page.page_title }} {% if page.page_title_description %}<small>{{ page.page_title_description }}</small>{% endif %}</h1>

		<div class="admin-page-title-actions">
			<a href="#" class="btn btn-secondary"><i class="fa fa-cog"></i> Settings</a>
		</div><!-- /.admin-page-title-actions -->
	</div><!-- /.container-fluid -->
</div><!-- /.admin-page-title -->