---
layout: default-boxed
active: agents-agencies
title: Agents Row Version
page_title: Agents Row Version
---

{% include components/breadcrumbs.html %}

<div class="row">
	<div class="col-md-8 col-lg-9">
		{% include components/sort.html %}

		{% for agent in site.data.agents %}			
			<div class="listing-row-simple-image">
				{% include components/listing-row-agent.html %}			
			</div><!-- /.listing-row-simple-image -->
		{% endfor %}	

		{% include components/pagination.html %}					
	</div><!-- /.col -->

	<div class="col-md-4 col-lg-3">
		{% include components/sidebar-agency.html %}
	</div><!-- /.col-* -->		
</div><!-- /.row -->