---
layout: landing-simple
title: Directory Application Kit
active: home
---

<div class="block mt-80">
	<div class="block-inner">
		{% include components/demos.html %}
	</div><!-- /.block-inner -->
</div><!-- /.block -->

<div class="page-header">
	<h2>Check Most Advanced Explorer's Features</h2>
	<p>In the package we are bundling additional great features &amp; components which makes your directory portal development more easier.</p>
</div>

{% include components/features.html %}

<div class="block mb0">
	<div class="block-inner">
		<div class="page-header">
			<h2><span class="strike">One</span> Four more things</h2>
			<p>In the package we are bundling additional great features &amp; components which makes your directory portal development more easier.</p>
		</div>

		{% include components/features-detailed.html %}
	</div><!-- /.block-inner -->
</div><!-- /.block -->