---
layout: homepage-job-board
title: Job Board Homepage
css: explorer-purple.css
active: home
---

<div class="page-header">
    <h2>Companies Using Our Services</h2>
    <p>Some of the companies which we helped by finding awesome job candidates.</p>
</div>

{% include components/partners.html %}

{% include components/listing-lines.html %}

<div class="block mb0">
    <div class="block-inner">

        <div class="page-header">
            <h2>Favorite Listing Categories</h2>
            <p>Easily assign categories &amp; tags to approved listings and then display categories with icons for better user experience.</p>
        </div>

        {% include components/categories.html %}
    </div><!-- /.block-inner -->
</div><!-- /.block-inner -->

{% include components/listings/carousel.html %}

<div class="page-header">
    <h2>Most Robust Directory Template Ever Made</h2>
    <p>Duis eget ornare purus, feugiat consequat sem. Nullam non nisl blandit, tincidunt diam id, consequat elit. Nunc augue libero, viverra a odio</p>
</div>

{% include components/posts.html %}

<div class="page-header">
    <h2>Most Robust Directory Template Ever Made</h2>
    <p>Duis eget ornare purus, feugiat consequat sem. Nullam non nisl blandit, tincidunt diam id, consequat elit. Nunc augue libero, viverra a odio</p>
</div>

<div class="mb80">
    {% include components/pricing.html %}
</div>

{% include components/cta-price.html %}