<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body class="{{ page.body_class }}">

<div class="page-wrapper">
	{% include components/header.html %}

    <div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">
	            <div class="content">
	                {{ content }}
	            </div><!-- /.content -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->
    </div><!-- /.main-wrapper -->   
</div><!-- /.page-wrapper -->

{% include components/listings/submit.html %}

{% include components/side.html %}

{% include scripts.html %}
</body>
</html>