	<div class="widget">
        <ul class="nav actions flex-column">
                            <li class="nav-item featured">
                    <a href="#" class="nav-link">
                        <i class="fa fa-file-text-o"></i> Claim Listing
                    </a>
                </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-star-o"></i> Add to Favorites
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-flag"></i> Report Listing
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" onclick="window.print(); return false;">
                    <i class="fa fa-print"></i> Print page
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-facebook"></i> Share on Facebook
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-google"></i> Share on Google+
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-twitter"></i> Share on Twitter
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-linkedin"></i> Share on LinkedIn
                </a>
            </li>
        </ul>
    </div>