<div class="widget">
	<h2 class="widgettitle">Navigation</h2>

	<ul class="menu nav flex-column">
		<li class="nav-item">
			<a href="index.html" class="nav-link"><i class="fa fa-chevron-right"></i> <span>Homepage</span></a>
		</li>

		<li class="nav-item">
			<a href="admin-dashboard.html" class="nav-link"><i class="fa fa-chevron-right"></i> <span>Admin Dashboard</span></a>
		</li>

		<li class="nav-item">
			<a href="listings-google-map.html" class="nav-link"><i class="fa fa-chevron-right"></i> <span>Listings Google Map</span></a>
		</li>

		<li class="nav-item">
			<a href="agencies-row.html" class="nav-link"><i class="fa fa-chevron-right"></i> <span>Recent Agencies</span></a>
		</li>

		<li class="nav-item">
			<a href="listings-submit.html" class="nav-link"><i class="fa fa-chevron-right"></i> <span>Submit New Listing</span></a>
		</li>
	</ul><!-- /.nav -->
</div><!-- /.widget -->