<script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&key=AIzaSyDmXybAJzoPZ6hH-Jhv7QMCSGgQ6MY8WqY" type="text/javascript"></script>
<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/tether.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/chartist.min.js"></script>
<script type="text/javascript" src="assets/js/google-map-richmarker.min.js"></script>
<script type="text/javascript" src="assets/js/google-map-infobox.min.js"></script>
<script type="text/javascript" src="assets/js/google-map-markerclusterer.js"></script>
<script type="text/javascript" src="assets/js/google-map.js"></script>
<script type="text/javascript" src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.inlinesvg.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.affix.js"></script>
<script type="text/javascript" src="assets/js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="assets/libraries/slick/slick.min.js"></script>
<script type="text/javascript" src="assets/js/nouislider.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.raty.js"></script>
<script type="text/javascript" src="assets/js/wNumb.js"></script>
<script type="text/javascript" src="assets/js/particles.min.js"></script>
<script type="text/javascript" src="assets/js/explorer.js"></script>
<script type="text/javascript" src="assets/js/explorer-map-search.js"></script>