<div class="map-results-detail tse-scrollable">
	<div class="tse-content">
		<div class="map-results-detail-header">
			<h3>Cozy Coffe Shop in New York</h3>					

			<div class="map-results-detail-address">
				1938 Caldwell Road, Brighton, NY 14623
			</div><!-- /.map-results-detail-address -->

			<div class="actions">
				<div class="actions-button">
					<span></span>
					<span></span>
					<span></span>						
				</div><!-- /.actions-button -->

				<ul class="actions-list">				
					<li><a href="#">Add to compare</a></li>
					<li><a href="#">Add to favorites</a></li>
					<li><a href="#">Report listing</a></li>	
				</ul><!-- /.actions-list -->
			</div><!-- /.actions -->
		</div><!-- .map-results-detail-header -->

		<h4>Photo Gallery</h4>

		<div class="map-results-detail-gallery">
			<img src="assets/img/tmp/gallery-small-3.jpg" alt=""> 
			<img src="assets/img/tmp/gallery-small-1.jpg" alt=""> 
			<img src="assets/img/tmp/gallery-small-2.jpg" alt="">
		</div><!-- /.map-results-detail-gallery -->

		<h4>Description</h4>

		<p>
			<strong>Vivamus vel erat tincidunt, pretium nulla dictum, commodo purus. Vestibulum a condimentum nunc. In turpis nibh</strong>
		</p>

		<p>
			Facilisis non tortor sit amet, pulvinar bibendum dolor. Integer id sagittis ligula. Nulla facilisi. Morbi suscipit quis libero sed semper. Donec ut lacinia velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla bibendum tincidunt. Suspendisse finibus consectetur arcu in auctor.
		</p>
		
		<div class="tags">
			<div class="tag">Conditioning</div><!-- /.tag -->
			<div class="tag">Wi-Fi</div><!-- /.tag -->
			<div class="tag">Parking</div><!-- /.tag -->
			<div class="tag">Credit Cards</div><!-- /.tag -->
			<div class="tag">Cable TV</div><!-- /.tag -->
			<div class="tag">Cleaning</div><!-- /.tag -->
			<div class="tag">Balcony</div><!-- /.tag -->
			<div class="tag">Newspaper</div><!-- /.tag -->
		</div><!-- /.tags -->

		<h4>Opening Hours</h4>				

		{% include components/opening-hours.html %}

		<h4>User Reviews <small>(4.8/13)</small></h4>

		{% include components/comments.html %}
	</div><!-- /.tse-content -->
</div><!-- /.map-results-detail -->	