<div class="map-filter-wrapper">
	<div class="container-fluid">
		<div class="map-filter">
			<form>
				<div class="form-group">								
					<input type="text" class="form-control" placeholder="Keyword">
				</div><!-- /.form-group -->

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Location">
				</div><!-- /.form-group -->							

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Category">
				</div><!-- /.form-group -->							

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Price">
				</div><!-- /.form-group -->								

				<button type="submit" class="btn">Filter Listings</button>
			</form>				
		</div><!-- /.map-filter -->
	</div><!-- /.container -->
</div><!-- /.map-filter-wrapper -->		