<div class="container">
	<div class="map-toolbar map-toolbar-top-right">
		<div class="map-toolbar-group">
			<div id="map-toolbar-action-zoom-in" class="map-toolbar-group-item"><i class="fa fa-plus"></i></div><!-- /.map-toolbar-group-item -->
			<div id="map-toolbar-action-zoom-out" class="map-toolbar-group-item"><i class="fa fa-minus"></i></div><!-- /.map-toolbar-group-item -->
		</div><!-- /.map-toolbar-group -->

		<div class="map-toolbar-group">
			<div id="map-toolbar-action-current-position" class="map-toolbar-group-item"><i class="fa fa-location-arrow"></i></div><!-- /.map-toolbar-group-item -->
			<div id="map-toolbar-action-fullscreen" class="map-toolbar-group-item"><i class="fa fa-arrows-alt"></i></div><!-- /.map-toolbar-group-item -->
		</div><!-- /.map-toolbar-group -->					

		<div class="map-toolbar-group">
			<div id="map-toolbar-action-roadmap" class="map-toolbar-group-item">Roadmap</div><!-- /.map-toolbar-group-item -->
			<div id="map-toolbar-action-satellite" class="map-toolbar-group-item">Satellite</div><!-- /.map-toolbar-group-item -->
			<div id="map-toolbar-action-terrain" class="map-toolbar-group-item">Terrain</div><!-- /.map-toolbar-group-item -->
			<div id="map-toolbar-action-hybrid" class="map-toolbar-group-item">Hybrid</div><!-- /.map-toolbar-group-item -->
		</div><!-- /.map-toolbar-group -->
	</div><!-- /.map-toolbar -->
</div><!-- /.container -->