.listing-hero address{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-nav {
	display: flex; }

	.primary-nav-wrapper-default {
		flex-grow: 1; }
		.primary-nav-wrapper-default .nav .nav-item {
			width: 100%; }
		.primary-nav-wrapper-default .search-bar {
			width: 100%;
			border-radius: 25px; }
	.primary-nav-wrapper-right {
		margin-left: auto; }


.search-wrapper {
	position: relative;
}

.search-wrapper:before {
	font-family: 'FontAwesome';
	position: absolute;
	top: 2px;
	right: 10px;
	content: '\f002';
	color: #E85E34;
	font-size: 18px;
}

.m-b-40 {
	margin: 0 0 40px 0;
}

@media (max-width: 991px) {
	.primary-nav-wrapper-right{
		top: 108.5px;  /*each line is 42px + nav-bar: 60px + 1px to see line */
	}

	.primary-nav-wrapper-default ul > li:last-child {
		border-bottom: 1px solid rgba(0, 0, 0, 0.04);
	}
}

@media (min-width: 768px) {
	.primary-nav-wrapper-right{
		top: 120.5px;  /*each line is 60px + nav-bar: 60px + 2px to see line*/
	}
}