<div class="hero-image-wrapper">
	<div class="hero-image-src" style="background-image: url('assets/img/tmp/hero-restaurant.jpg');">
	</div><!-- /.hero-image-src -->

    <div class="hero-image">
        <div class="hero-image-inner">
            <div class="hero-image-content">
                <div class="container">
                    <h1>Taste high quality meals in your city</h1>

                    <h2>$85.00 / person</h2>
                </div><!-- /.container -->
            </div><!-- /.hero-image-content -->
        </div><!-- /.hero-image-inner -->
    </div><!-- /.hero-image -->
</div><!-- /.hero-image-wrapper -->