<div class="hero-image-wrapper">
	<div class="hero-image-src" style="background-image: url('assets/img/tmp/hero-classified.jpg');">
	</div><!-- /.hero-image-src -->

    <div class="hero-image">
        <div class="hero-image-inner">
            <div class="hero-image-content">
                <div class="container">
                    <div class="center">
                        <h1 class="hero-image-content-title-simple float-none">Discover Best City Spots</h1>
                        <p class="float-none">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>                    

                        <form method="post" action="?">
                            <div class="row justify-content-sm-center">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon no-border"><i class="fa fa-location-arrow"></i></span>
                                        <input type="text" class="form-control no-border form-control-xl" placeholder="Type your address ...">
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary btn-xl">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->
                        </form>                        
                    </div>
                </div><!-- /.container -->
            </div><!-- /.hero-image-content -->
        </div><!-- /.hero-image-inner -->    

        <div class="hero-image-categories">
            <a href="#" class="hero-image-category">
                <i class="fa fa-commenting-o"></i>

                <strong>Clubs</strong>
            </a><!-- /.hero-image-category -->

            <a href="#" class="hero-image-category">
                <i class="fa fa-snowflake-o"></i>

                <strong>Sky Resorts</strong>
            </a><!-- /.hero-image-category -->

            <a href="#" class="hero-image-category">
                <i class="fa fa-star-o"></i>

                <strong>Bestsellers</strong>
            </a><!-- /.hero-image-category -->

            <a href="#" class="hero-image-category">
                <i class="fa fa-hourglass-o"></i>

                <strong>Coffee</strong>
            </a><!-- /.hero-image-category -->

            <a href="#" class="hero-image-category">
                <i class="fa fa-map-o"></i>

                <strong>Spots</strong>
            </a><!-- /.hero-image-category -->

            <a href="#" class="hero-image-category">
                <i class="fa fa-picture-o"></i>

                <strong>Galleries</strong>
            </a><!-- /.hero-image-category -->

            <a href="#" class="hero-image-category">
                <i class="fa fa-handshake-o"></i>

                <strong>Businesses</strong>
            </a><!-- /.hero-image-category -->                                                                        
        </div><!-- /.hero-image-categories -->
    </div><!-- /.hero-image -->
</div><!-- /.hero-image-wrapper -->