<div class="hero-image-wrapper">
	<div class="hero-image-src" style="background-image: url('assets/img/tmp/hero-travel.jpg');">
	</div><!-- /.hero-image-src -->

    <div class="hero-image">
        <div class="hero-image-inner">
            <div class="hero-image-content">
                <div class="container">
                    <h1 class="hero-image-content-title-simple">Magnis dis parturient montes.</h1>
                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>                    
                    <a href="#" class="btn btn-primary">Discover All Listings</a>
                </div><!-- /.container -->
            </div><!-- /.hero-image-content -->
        </div><!-- /.hero-image-inner -->

        <div class="hero-image-filter-bottom">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group">            
                            <input type="text" class="form-control form-control-xl form-control-no-border" placeholder="Search by keyword">
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->

                    <div class="col">
                        <div class="form-group">                
                            <select class="form-control form-control-xl form-control-no-border">
                                <option>Location</option>
                                <option>Chicago</option>
                                <option>San Francisco</option>
                                <option>Seattle</option>
                                <option>New York</option>
                                <option>Washington</option>
                            </select>
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->

                    <div class="col">
                        <div class="form-group">
                            <input type="number" class="form-control  form-control-xl form-control-no-border" placeholder="Duration">
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->
                    
                    <div class="col">
                        <div class="form-group">
                            <input type="date" class="form-control  form-control-xl form-control-no-border" placeholder="Date">
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->

                    <div class="col">
                        <div class="form-group-btn">
                            <button type="submit" class="btn btn-primary btn-block btn-xl">Filter Listings</button>
                        </div><!-- /.form-group -->     
                    </div><!-- /.col-* -->          
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.hero-image-filter-bottom -->       
    </div><!-- /.hero-image -->
</div><!-- /.hero-image-wrapper -->