<div class="hero-image-wrapper">
	<div class="hero-image-src" style="background-image: url('assets/img/tmp/hero-car.jpg');">
	</div><!-- /.hero-image-src -->

    <div class="hero-image">
        <div class="hero-image-inner">
            <div class="hero-image-content">
                <div class="container">
                    <h1>Brand new cars for the <br>best prices on the market</h1>

                    <h2>$847,000.00</h2>
                </div><!-- /.container -->
            </div><!-- /.hero-image-content -->
        </div><!-- /.hero-image-inner -->
    </div><!-- /.hero-image -->

    <div class="hero-image-filter-wrapper">
        <div class="container">
            <div class="hero-image-filter">            
                <div class="form-group">            
                    <input type="text" class="form-control" placeholder="Search by keyword">
                </div><!-- /.form-group -->

                <div class="form-group">                
                    <select class="form-control">
                        <option>Chicago</option>
                        <option>San Francisco</option>
                        <option>Seattle</option>
                        <option>New York</option>
                        <option>Washington</option>
                    </select>
                </div><!-- /.form-group -->            

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Starting price">
                </div><!-- /.form-group -->
        
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Starting price">
                </div><!-- /.form-group -->

                <div class="form-group-btn">
                    <button type="submit" class="btn">Filter Listings</button>
                </div><!-- /.form-group -->                 
            </div><!-- /.hero-image-filter -->
        </div><!-- /.container -->
    </div><!-- /.hero-image-filter-wrapper -->
</div><!-- /.hero-image-wrapper -->