<div class="hero-promo-wrapper">
    <div class="hero-promo-background-under"></div><!-- /.hero-promo-background-under -->

    <div class="hero-promo-background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div><!-- /.hero-promo-background -->

    {% include components/header-transparent.html %}

    <div class="hero-promo">
        <div class="container">
            <div class="hero-promo-inner">
                <div class="hero-promo-first">
                    <div class="hero-promo-content">
                        <h1>Versatile Directory HTML Template</h1>

                        <p>
                            Create modern and beautiful directory websites by using Explorer HTML template which will
                            speed up development. Explorer is the only template containing all required files to create
                            awesome directory solutions.
                        </p>

                        <div class="hero-promo-actions">
                            <a href="index-directory.html" class="btn btn-primary">View Main Demo</a>

                            <a href="admin-dashboard.html" class="btn">Admin Dashboard</a>
                        </div><!-- /.hero-promo-actions -->
                    </div><!-- /.hero-promo-content -->
                </div><!-- /.hero-promo-first -->

                <div class="hero-promo-second">
                    <div class="hero-promo-items-wrapper tse-scrollable">
                        <div class="tse-content">
                           <h2>See Special Directory Pages</h2>

                            <div class="hero-promo-items">
                                <a href="index-directory" class="hero-promo-item">                                
                                    <span class="hero-promo-item-number">01</span>                                
                                    <strong>Directory / Listings</strong>
                                    <p>General purpose listings website.</p>
                                    <span class="hero-promo-item-more"><i class="fa fa-long-arrow-right"></i></span>
                                </a>

                                <a href="#" class="hero-promo-item">
                                    <span class="hero-promo-item-number">02</span>
                                    <strong>Real Estate / Rental</strong>
                                    <p>Fits for agencies and estate portals.</p>
                                    <span class="hero-promo-item-more"><i class="fa fa-long-arrow-right"></i></span>
                                </a>

                                <a href="index-job-board.html" class="hero-promo-item">
                                    <span class="hero-promo-item-number">03</span>
                                    <strong>Job Board / Resume</strong>
                                    <p>Freelance portals and job boards.</p>
                                    <span class="hero-promo-item-more"><i class="fa fa-long-arrow-right"></i></span>
                                </a>

                                <a href="#" class="hero-promo-item">
                                    <span class="hero-promo-item-number">04</span>
                                    <strong>Automotive / Car Dealership</strong>
                                    <p>Selling cars &amp; parts.</p>
                                    <span class="hero-promo-item-more"><i class="fa fa-long-arrow-right"></i></span>
                                </a>

                                <a href="#" class="hero-promo-item">
                                    <span class="hero-promo-item-number">05</span>
                                    <strong>Classified</strong>
                                    <p>Classified ads website.</p>
                                    <span class="hero-promo-item-more"><i class="fa fa-long-arrow-right"></i></span>
                                </a>

                                <a href="#" class="hero-promo-item">
                                    <span class="hero-promo-item-number">06</span>
                                    <strong>Travel / Hotel</strong>
                                    <p>Made travel websites with ease.</p>
                                    <span class="hero-promo-item-more"><i class="fa fa-long-arrow-right"></i></span>
                                </a>

                                <a href="#" class="hero-promo-item">
                                    <span class="hero-promo-item-number">07</span>
                                    <strong>Restaurant</strong>
                                    <p>Find nearby restaurants.</p>
                                    <span class="hero-promo-item-more"><i class="fa fa-long-arrow-right"></i></span>
                                </a>

                                <a href="#" class="hero-promo-item">
                                    <span class="hero-promo-item-number">08</span>
                                    <strong>Admin / Dashboard</strong>
                                    <p>Client backend files.</p>
                                    <span class="hero-promo-item-more"><i class="fa fa-long-arrow-right"></i></span>
                                </a>                            
                            </div><!-- /.hero-promo-items -->
                        </div><!-- /.tse-content -->
                    </div><!-- /.hero-promo-items-wrapper -->
                </div><!-- /.hero-promo-second -->
            </div><!-- /.hero-promo-inner -->
        </div><!-- /.container -->
    </div><!-- /.hero-promo -->
</div><!-- /.hero-promo-wrapper -->