<div class="hero-simple">
	<div id="hero-particles"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-simple-content">
			       	<h1>Versatile Directory &amp; Listings HTML Template</h1>

			        <p>
			            Create modern and beautiful directory websites by using Explorer HTML template which will
			            speed up development. Explorer is the only template containing all required files to create
			            awesome directory solutions.
			        </p>

	 				<div class="hero-simple-actions">
			            <a href="index-directory.html" class="btn btn-white">Main Demo</a>

			            <a href="admin-dashboard.html" class="btn btn-white">Admin Dashboard</a>
			        </div><!-- /.hero-simple-actions -->				        
	        	</div><!-- /.her-simple-content -->
        	</div><!-- /.col -->
        </div><!-- /.row -->	
	</div><!-- /.container -->
</div><!-- /.hero-simple -->