<div class="author">
    <div class="row">
        <div class="col-sm-12 col-md-4">
        	<h2>Maureen G. Norman</h2>

            <a href="#" class="agent-card-image">
                <img src="assets/img/tmp/user-large-1.jpg" alt="">
            </a><!-- /.agent-card-image -->
        </div><!-- /.col -->

        <div class="col-sm-12 col-md-4">
            <h2>Contact Form</h2>

            <form method="post" action="?">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="E-mail">
                </div><!-- /.form-group -->

                <div class="form-group">
                    <textarea class="form-control" placeholder="Message" rows="7"></textarea>
                </div><!-- /.form-group -->
            </form>
        </div><!-- /.col -->

        <div class="col-sm-12 col-md-4">
            <h2>Information</h2>

            <div class="agent-card-info">
                <ul class="mb0">
                    <li><a href="#">28 listings in catalogue</a></li>
                </ul>

                <ul>
                    <li>4508 Kembery Drive</li>
                    <li>Chicago, IL 60605</li>
                </ul>

                <ul>
                    <li><i class="fa fa-phone"></i> +0-123-456-789</li>
                    <li><i class="fa fa-globe"></i> <a href="http://example.com">example.com</a></li>
                    <li><i class="fa fa-at"></i> <a href="mailto:@">E-mail address</a></li>                    
                </ul>
            </div><!-- /.agent-card-info -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.author -->