<div class="card {% if card.image %}card-dark{% endif %}" {% if card.image %}style="background-image: url({{ card.image }});"{% endif %}>
    <div class="card-inner">
        <div class="card-close">
            <i class="fa fa-close"></i>
        </div><!-- /.card-close -->

        <div class="card-attribute">{{ card.attribute }}</div>

        {% if card.icon %}
        <a href="#" class="card-icon {{ card.icon_class }}">
            <span>{{ card.icon }}</span>
        </a><!-- /.card-middle -->
        {% endif %}

        <div class="card-content">
            <h2><a href="#">{{ card.title }}</a></h2>
            <p>{{ card.description }}</p>
        </div><!-- /.card-content -->
    </div><!-- /.card-inner -->
</div><!-- /.card -->