<ul class="comments">
	<li>
		<div class="comment">			
			<div class="comment-author">
				<a href="#" style="background-image: url('assets/img/tmp/user-1.jpg');"></a>
			</div><!-- /.comment-author -->

			<div class="comment-content">			
				<div class="comment-meta">
					<div class="comment-meta-author">
						Derek S. Minter
					</div><!-- /.comment-meta-author -->

					<div class="comment-meta-date">
						<span>8:54 PM 11/23/2016</span>
					</div>
				</div><!-- /.comment -->

				<div class="comment-body">
					<div class="comment-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div><!-- /.comment-rating -->

					<p>
						Nullam sollicitudin justo neque, sit amet auctor urna pretium in. Aenean elementum venenatis nisl at tincidunt. Vivamus hendrerit porta cursus. Cras elementum tortor ut tincidunt feugiat.
					</p>
				</div><!-- /.comment-body -->
			</div><!-- /.comment-content -->

			<div class="comment comment-answer">			
				<div class="comment-author">
					<a href="#" style="background-image: url('assets/img/tmp/user-2.jpg');"></a>
				</div><!-- /.comment-author -->

				<div class="comment-content">			
					<div class="comment-meta">
						<div class="comment-meta-author">
							Elizabeth T. Schultheis
						</div><!-- /.comment-meta-author -->

						<div class="comment-meta-date">
							<span>8:54 PM 11/23/2016</span>
						</div>
					</div><!-- /.comment -->

					<div class="comment-body">
						<p>
							Quisque aliquam ante in ullamcorper mattis. In fringilla mollis scelerisque. Morbi quis justo eget erat maximus vulputate non nec nulla. Nam eget tincidunt sapien. Nullam aliquam enim a fringilla rutrum.
						</p>
					</div><!-- /.comment-body -->
				</div><!-- /.comment-content -->
			</div><!-- /.comment -->			

		</div><!-- /.comment -->		
	</li>

	<li>
		<div class="comment">			
			<div class="comment-author">
				<a href="#" style="background-image: url('assets/img/tmp/user-2.jpg');"></a>
			</div><!-- /.comment-author -->

			<div class="comment-content">			
				<div class="comment-meta">
					<div class="comment-meta-author">
						Elizabeth T. Schultheis
					</div><!-- /.comment-meta-author -->

					<div class="comment-meta-date">
						<span>8:54 PM 11/23/2016</span>
					</div>
				</div><!-- /.comment -->

				<div class="comment-body">
					<div class="comment-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div><!-- /.comment-rating -->

					<p>
						Quisque aliquam ante in ullamcorper mattis. In fringilla mollis scelerisque. Morbi quis justo eget erat maximus vulputate non nec nulla. Nam eget tincidunt sapien. Nullam aliquam enim a fringilla rutrum.
					</p>
				</div><!-- /.comment-body -->
			</div><!-- /.comment-content -->
		</div><!-- /.comment -->									
	</li>

	<li>
		<div class="comment">			
			<div class="comment-author">
				<a href="#" style="background-image: url('assets/img/tmp/user-3.jpg');"></a>
			</div><!-- /.comment-author -->

			<div class="comment-content">			
				<div class="comment-meta">
					<div class="comment-meta-author">
						Nettie G. Grubbs
					</div><!-- /.comment-meta-author -->

					<div class="comment-meta-date">
						<span>8:54 PM 11/23/2016</span>
					</div>
				</div><!-- /.comment -->

				<div class="comment-body">
					<div class="comment-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-o"></i>
					</div><!-- /.comment-rating -->

					<p>
						Quisque nec sollicitudin nisl, ut feugiat mi. Maecenas auctor, nibh id placerat finibus, neque felis ultricies urna, id aliquet arcu sem viverra enim. 
					</p>
				</div><!-- /.comment-body -->
			</div><!-- /.comment-content -->
		</div><!-- /.comment -->		
	</li>	
</ul>