<div class="demos">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="demo">
				<div class="demo-image-holder green">
					<div class="demo-browser">
						<span></span>
						<span></span>
						<span></span>
					</div><!-- /.demo-browser -->

					<a href="index-directory.html">
						<img src="assets/img/tmp/demo-directory.jpg" alt="">
					</a>
				</div><!-- /.demo-image-holder -->

				<div class="demo-content">
					<h3>Directory &amp; Listings</h3>
				</div><!-- /.demo-content -->
			</div><!-- /.demo -->
		</div><!-- /.col -->

		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="demo">
				<div class="demo-image-holder blue">
					<div class="demo-browser">
						<span></span>
						<span></span>
						<span></span>
					</div><!-- /.demo-browser -->

					<a href="index-real-estate.html">
						<img src="assets/img/tmp/demo-real-estate.jpg" alt="">
					</a>
				</div><!-- /.demo-image-holder -->

				<div class="demo-content">
					<h3>Real Estate &amp; Rentals</h3>
				</div><!-- /.demo-content -->
			</div><!-- /.demo -->
		</div><!-- /.col -->		

		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="demo">
				<div class="demo-image-holder purple">
					<div class="demo-browser">
						<span></span>
						<span></span>
						<span></span>
					</div><!-- /.demo-browser -->

					<a href="index-job-board.html">
						<img src="assets/img/tmp/demo-job-board.jpg" alt="">
					</a>
				</div><!-- /.demo-image-holder -->

				<div class="demo-content">
					<h3>Job Board</h3>
				</div><!-- /.demo-content -->
			</div><!-- /.demo -->
		</div><!-- /.col -->		

		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="demo">
				<div class="demo-image-holder red">
					<div class="demo-browser">
						<span></span>
						<span></span>
						<span></span>
					</div><!-- /.demo-browser -->
					
					<a href="index-automotive.html">
						<img src="assets/img/tmp/demo-automotive.jpg" alt="">
					</a>
				</div><!-- /.demo-image-holder -->

				<div class="demo-content">
					<h3>Car &amp; Automotive</h3>
				</div><!-- /.demo-content -->
			</div><!-- /.demo -->
		</div><!-- /.col -->		

		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="demo">
				<div class="demo-image-holder orange">
					<div class="demo-browser">
						<span></span>
						<span></span>
						<span></span>
					</div><!-- /.demo-browser -->

					<a href="index-travel.html">
						<img src="assets/img/tmp/demo-travel.jpg" alt="">
					</a>
				</div><!-- /.demo-image-holder -->

				<div class="demo-content">
					<h3>Travel &amp; Hotel</h3>
				</div><!-- /.demo-content -->
			</div><!-- /.demo -->
		</div><!-- /.col -->		

		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="demo">
				<div class="demo-image-holder gold">
					<div class="demo-browser">
						<span></span>
						<span></span>
						<span></span>
					</div><!-- /.demo-browser -->

					<a href="index-restaurant.html">
						<img src="assets/img/tmp/demo-restaurant.jpg" alt="">
					</a>
				</div><!-- /.demo-image-holder -->

				<div class="demo-content">
					<h3>Restaurant</h3>
				</div><!-- /.demo-content -->
			</div><!-- /.demo -->
		</div><!-- /.col -->			

		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="demo">
				<div class="demo-image-holder turquoise">
					<div class="demo-browser">
						<span></span>
						<span></span>
						<span></span>
					</div><!-- /.demo-browser -->

					<a href="index-classified.html">
						<img src="assets/img/tmp/demo-classified.jpg" alt="">
					</a>
				</div><!-- /.demo-image-holder -->

				<div class="demo-content">
					<h3>Classified Ads</h3>
				</div><!-- /.demo-content -->
			</div><!-- /.demo -->
		</div><!-- /.col -->		

		<div class="col-sm-6 col-md-6 col-lg-3">
			<div class="demo">
				<div class="demo-image-holder">
					<div class="demo-browser">
						<span></span>
						<span></span>
						<span></span>
					</div><!-- /.demo-browser -->

					<a href="admin-dashboard.html">
						<img src="assets/img/tmp/demo-admin.jpg" alt="">
					</a>
				</div><!-- /.demo-image-holder -->

				<div class="demo-content">
					<h3>Admin Dashboard</h3>
				</div><!-- /.demo-content -->
			</div><!-- /.demo -->
		</div><!-- /.col -->						
	</div><!-- /.row -->
</div><!-- /.demos -->