<div class="feature-details">
	<div class="feature-detail">
		<div class="row">
			<div class="col-md-6">
				<h4>HTML Template</h4>
				<h3>Admin Dashboard</h3>

				<p>
					Creating an admin section for client is an essential functionality for each custom made CMS.
					In the Explorer HTML template we are including all basic components for developing backend section
					for free in the package available on ThemeForest.
				</p>

				<p>
					In the admin we are covering following parts: tables, dashboard, sidebar, forms and some basic
					cards. Admin templates does not contain advanced integrations with third party JavaScript libraries.
				</p>

				<p class="small">
					Before purchasing an item on ThemeForest we recommend to go through all admin files in our demo site
					and if you are missing interesting component, feel free to contact us through comments section.
				</p>

				<a href="admin-dashboard.html" class="btn btn-primary">Explore Admin Area</a>
			</div><!-- /.col-* -->

			<div class="col-md-5 push-md-1">
				<div class="feature-detail-image">
					<img src="assets/img/tmp/feature-admin.jpg" alt="">
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.feature-detail -->


	<div class="feature-detail">
		<div class="row">
			<div class="col-md-5">
				<div class="feature-detail-image">
					<img src="assets/img/tmp/feature-angular2.jpg" alt="">
				</div>
			</div>

			<div class="col-md-6 push-md-1">
				<h4>Client Side JavaScript</h4>
				<h3>Angular 2 Map Application</h3>

				<p>
					Modern applications are build by using JavaScript frameworks where the business logic is
					processed in client browser. In template we are bundling Angular 2 application for listing
					objects on the Google Map.
				</p>

				<p class="small">
					All data for application are fetched from REST API. HTML template contains JSON file
					with all required data but in the Symfony 3 application we developed an API provider so
					you use this application for data storage as well.
				</p>

				<p class="small">
					Please note that application contains only logic for displaying objects on the Google Map. There
					is no advanced workflows for searching nor adding new listings.
				</p>

				<a href="http://explorer-angular.wearecodevision.com" class="btn btn-primary">Angular 2 Application</a>
			</div><!-- /.col-* -->
		</div><!-- /.row -->
	</div><!-- /.feature-detail -->

	<div class="feature-detail">
		<div class="row">
			<div class="col-md-4">
				<h4>Simple PHP Boilerplate</h4>
				<h3>Symfony 3 Backend</h3>

				<p>
					Explorer is just static HTML without any business logic so we decided to include to
					at least minimal PHP backend for managing listings to speed up your website development.
					This is a great value for experienced developers which will reuse bundled source code and
					add new business logic required by client.
				</p>

				<p class="small">
					In the backend we are including only screen for managing listings and simple API provider
					to expose listings. There is no other logic and support for Symfony framework. We are
					expecting that source code will be used only by professional who are aware what they are doing.
				</p>
			</div><!-- /.col-* -->

			<div class="col-md-7 push-md-1">
				<div class="feature-detail-image">
					<img src="assets/img/tmp/feature-symfony3.jpg" alt="" class="no-borde">
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.feature-detail -->

	<div class="feature-detail">
		<div class="row">
			<div class="col-md-6">
				<div class="feature-detail-image">
					<img src="assets/img/tmp/feature-jekyll.jpg" alt="" class="no-borde">
				</div>
			</div>

			<div class="col-md-5 push-md-1">
				<h4>Static Files Generator</h4>
				<h3>Jekyll Source Files</h3>

				<p>
					Jekyll is a simple static site generator. It takes raw HTML templates and then it
					passes them through its converter. The result is HTML structure without any business
					logic.
				</p>

				<p>
					If you are looking for absolutely fast website without any hack possibilities, this is
					the way to go. The hosting requirements are minimal so you can host your website almost
					everywhere.
				</p>

				<p class="small">
					As the main example you can check Explorer template where we used Jekyll to generate all
					files. In the package you will get all predefined components and files for free. You can see
					that with Jekyll you can achieve awesome results with minimal server requirements.
				</p>
			</div><!-- /.col-* -->
		</div><!-- /.row -->
	</div><!-- /.feature-detail -->
</div><!-- /.feature-details -->