<div class="features">
	<div class="row">
		<div class="col-md-6 col-lg-4">
			<div class="feature">
				<div class="feature-icon"><i class="fa fa-cog"></i></div>

				<div class="feature-content">
					<h3>7 Unique Niches</h3>

					<p>
						With the Explorer it is possible to achieve several layouts for different niches. In template we are bundling 7 homepage layouts.
					</p>
				</div><!-- /.feature-content -->
			</div><!-- /.feature -->
		</div><!-- /.col-* -->

		<div class="col-md-6 col-lg-4">
			<div class="feature">
				<div class="feature-icon"><i class="fa fa-flask"></i></div>

				<div class="feature-content">
					<h3>Admin Templates</h3>

					<p>
						When creating new system, backend is an essential part of project. Template contains basic set of admin templates for directory CMS.
					</p>					
				</div><!-- /.feature-content -->
			</div><!-- /.feature -->
		</div><!-- /.col-* -->
					
		<div class="col-md-6 col-lg-4">
			<div class="feature">
				<div class="feature-icon"><i class="fa fa-pie-chart"></i></div>

				<div class="feature-content">
					<h3>Developer Friendly</h3>

					<p>
						Explorer is written by keeping in mind that it will be used by other developers so everything is well structured and ready for customizations.
					</p>
				</div><!-- /.feature-content -->
			</div><!-- /.feature -->
		</div><!-- /.col-* -->
		<div class="col-md-6 col-lg-4">
			<div class="feature">
				<div class="feature-icon"><i class="fa fa-commenting-o"></i></div>

				<div class="feature-content">
					<h3>Bootstrap 4 Framework</h3>

					<p>
						All templates are based on Bootstrap 4 framework so the project is easily understandable for developers familiar with the framework.
					</p>
				</div><!-- /.feature-content -->
			</div><!-- /.feature -->
		</div><!-- /.col-* -->

		<div class="col-md-6 col-lg-4">
			<div class="feature">
				<div class="feature-icon"><i class="fa fa-cloud-download"></i></div>

				<div class="feature-content">
					<h3>SASS Files</h3>

					<p>
						For large project as the Explorer is, we used SASS to compile all files. Project contains dozens of well structured SASS files which can be easily modified.
					</p>
				</div><!-- /.feature-content -->
			</div><!-- /.feature -->
		</div><!-- /.col-* -->

		<div class="col-md-6 col-lg-4">
			<div class="feature">
				<div class="feature-icon"><i class="fa fa-cubes"></i></div>

				<div class="feature-content">
					<h3>Fully Responsive</h3>

					<p>
						Template is responsive on all devices from extra large screens to small mobile devices. It is easy to prepare all images for high quality displays as well.
					</p>
				</div><!-- /.feature-content -->
			</div><!-- /.feature -->
		</div><!-- /.col-* -->				
	</div><!-- /.row -->	
</div><!-- /.features -->