<div class="row filter-options">
	<div class="col-sm-6">
		<div class="filter-sort">
			<strong>Sort By</strong>

			<div class="checkbox-inline">
				<label><input type="checkbox" name="filter-form-order" checked="checked"> Price</label>
			</div><!-- /.checkbox -->

			<div class="checkbox-inline">
				<label><input type="checkbox" name="filter-form-order" checked="checked"> Published</label>
			</div><!-- /.checkbox -->					
		</div><!-- /.filter-sort -->
	</div><!-- /.row -->

	<div class="col-sm-6">
		<div class="filter-order">
			<strong>Order By</strong>

			<div class="checkbox-inline">
				<label><input type="radio" name="filter-form-order" checked="checked"> Asc</label>
			</div><!-- /.checkbox -->

			<div class="checkbox-inline">
				<label><input type="radio" name="filter-form-order"> Desc</label>
			</div><!-- /.checkbox -->
		</div><!-- /.filter-order -->				
	</div><!-- /.col-* -->
</div><!-- /.row -->