<div class="footer-wrapper footer-line">
	<div class="footer">
		<div class="footer-inner clearfix">
			<div class="container">
				<div class="footer-line-left">
					&copy; 2017 Created by Code Vision. All rights reserved.
				</div><!-- /.footer-line-left -->

				<div class="footer-line-right">
					<ul class="nav nav-line">
						<li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="listings-grid.html" class="nav-link">Listings</a></li>
						<li class="nav-item"><a href="agents-grid.html" class="nav-link">Agents</a></li>
						<li class="nav-item"><a href="agencies-grid.html" class="nav-link">Agencies</a></li>						
						<li class="nav-item"><a href="terms-conditions.html" class="nav-link">Terms &amp; Conditions</a></li>
						<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>					
					</ul>					
				</div><!-- /.footer-line-right -->
			</div><!-- /.container -->
		</div><!-- /.footer-inner -->
	</div><!-- /.footer -->
</div><!-- /.footer-wrapper -->