<div class="header-wrapper header-transparent">
    <div class="header">
        <div class="container">
            <div class="header-inner">
                <div class="navigation-toggle toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div><!-- /.header-toggle -->
                            
                <div class="header-logo">
                    <a href="index.html">
                        <img src="assets/img/logo.svg" class="svg" alt="Home">
                    </a>

                    <a href="index.html" class="header-title">Explorer</a>
                </div><!-- /.header-logo -->

                <div class="header-nav">
                    {% include components/navigation.html %}
                </div><!-- /.header-nav -->

                <div class="header-toggle toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div><!-- /.header-toggle -->

                <div class="header-actions">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link modal-submit" id="modal-action-submit" data-toggle="modal" data-target="#modal-submit">
                                <i class="fa fa-plus"></i> <span>Add Listing</span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.header-actions -->                
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header -->
</div><!-- /.header-wrapper -->