<h4>Create New Review</h4>

<form method="post" action="?">
	<div class="row">
		<div class="col-sm-7">
			<div class="form-group">
				<label>Message</label>
				<textarea class="form-control" style="height: 191px;"></textarea>
			</div><!-- /.form-group -->
		</div><!-- /.col-* -->

		<div class="col-sm-5">
			<div class="form-group">
				<label>Name</label>
				<input type="email" class="form-control">
			</div><!-- /.form-group -->													

			<div class="form-group">
				<label>E-mail</label>
				<input type="email" class="form-control">
			</div><!-- /.form-group -->						

			<div class="form-group">
				<label>Website</label>
				<input type="email" class="form-control">
			</div><!-- /.form-group -->										
		</div><!-- /.col-* -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label>Overall</label>
				<div class="rating-item"></div>		
			</div><!-- /.form-group -->
		</div><!-- /.col -->

		<div class="col-sm-4">
			<div class="form-group">
				<label>Meal Quality</label>
				<div class="rating-item"></div>		
			</div><!-- /.form-group -->
		</div><!-- /.col -->

		<div class="col-sm-4">
			<div class="form-group">
				<label>Staff</label>
				<div class="rating-item"></div>		
			</div><!-- /.form-group -->
		</div><!-- /.col -->

		<div class="col-sm-4">
			<div class="form-group">
				<label>Parking</label>
				<div class="rating-item"></div>		
			</div><!-- /.form-group -->
		</div><!-- /.col -->

		<div class="col-sm-4">
			<div class="form-group">
				<label>Payment Options</label>
				<div class="rating-item"></div>		
			</div><!-- /.form-group -->
		</div><!-- /.col -->

		<div class="col-sm-4">
			<div class="form-group">
				<label>Location</label>
				<div class="rating-item"></div>		
			</div><!-- /.form-group -->
		</div><!-- /.col -->		
	</div><!-- /.row -->

	<button type="submit" class="btn btn-primary pull-right">Post Comment</button>
</form>