<div class="palette">
	<div class="palette-content">
		<div class="palette-content-column">
			<ul>
				<li><a href="#">Orange / Blue</a></li>
				<li><a href="#">Red / Green</a></li>
				<li><a href="#">Black / White</a></li>
				<li><a href="#">Turquise / White</a></li>
				<li><a href="#">Milk / White</a></li>
			</ul>
		</div><!-- /.paletter-content-column -->

		<div class="palette-content-column">
			<ul>
				<li><a href="#">General Directory</a></li>
				<li><a href="#">Real Estate</a></li>
				<li><a href="#">Car Automotive</a></li>
				<li><a href="#">Job Board</a></li>
				<li><a href="#">Admin Dashboard</a></li>
			</ul>
		</div><!-- /.paletter-content-column -->		

		<div class="palette-content-column">
			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input"> Sticky Header
				</label>
			</div><!-- /.form-check -->

			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input"> Fullwidth
				</label>
			</div><!-- /.form-check -->	

			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input"> Boxed
				</label>
			</div><!-- /.form-check -->					
		</div><!-- /.paletter-content-column -->		
	</div><!-- /.palette-content -->

	<div class="palette-toggle">
		<i class="fa fa-hand-o-up"></i> Design Options
	</div><!-- /.palette -->
</div><!-- /.palette -->