<div class="progress-steps">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <a class="progress-step done" href="#">
                <i class="fa fa-check"></i>
                <span class="title">Request Package</span>
            </a>
        </div><!-- /.col -->

        <div class="col-sm-3 col-md-3">
            <a class="progress-step done" href="#">
                <i class="fa fa-check"></i>
                <span class="title">Select Listings</span>
            </a>
        </div><!-- /.col -->

        <div class="col-sm-3 col-md-3">
            <a class="progress-step active" href="#">
                <i class="fa fa-bell"></i>
                <span class="title">Extras Features</span>
            </a>
        </div><!-- /.col -->

        <div class="col-sm-3 col-md-3">
            <a class="progress-step inactive" href="#">
                <i class="fa fa-plug"></i>
                <span class="title">Checkout</span>
            </a>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.progress-steps -->