<div class="page-title-actions">
	<div class="switcher">
		<strong>Currency</strong>

        <ul>
        	<li class="active"><a href="#">USD</a></li>
        	<li><a href="#">EUR</a></li>						        	
        </ul>
    </div><!-- /.switcher -->

	<div class="switcher">
		<strong>Language</strong>

        <ul>
        	<li class="active"><a href="#">EN</a></li>
        	<li><a href="#">FR</a></li>
        	<li><a href="#">DE</a></li>
        </ul>
    </div><!-- /.switcher -->	
</div><!-- /.page-title-actions -->	