<h2>Amenities</h2>

<ul class="amenities">
    <li class="yes">Conditioning</li>
    <li class="no">Balcony</li>
    <li class="no">Bedding</li>
    <li class="no">Cable TV</li>
    <li class="no">Cleaning</li>
    <li class="no">Cofee pot</li>
    <li class="no">Computer</li>
    <li class="yes">Cot</li>
    <li class="no">Dishwasher</li>
    <li class="yes">DVD</li>
    <li class="no">Fan</li>
    <li class="yes">Fridge</li>
    <li class="no">Grill</li>
    <li class="yes">Hairdryer</li>
    <li class="no">Heating</li>
    <li class="yes">Hi-fi</li>
    <li class="no">Internet</li>
    <li class="yes">Iron</li>
    <li class="no">Juicer</li>
    <li class="yes">Lift</li>
    <li class="yes">Microwave</li>
    <li class="yes">Oven</li>
    <li class="no">Parking</li>
    <li class="no">Parquet</li>
    <li class="yes">Pool</li>
    <li class="yes">Radio</li>
    <li class="no">Roof terrace</li>
    <li class="no">Smoking</li>
    <li class="yes">Terrace</li>
    <li class="no">Toaster</li>
    <li class="no">Towelwes</li>
    <li class="no">Use of pool</li>
</ul>