<div class="listing-detail-attributes">
    <div class="listing-detail-attribute">
        <div class="key">Assigned Agent</div>
        <div class="value">
            <div class="value-image">
                <a href="#" style="background-image: url('assets/img/tmp/agent-1.jpg');"></a>
            </div><!-- /.value-image -->

            Alice Sharp
        </div>
    </div><!-- /.listing-detail-attribute -->   

    <div class="listing-detail-attribute">
        <div class="key">Real Estate Agency</div>
        <div class="value">Villareal Real Estate </div>
    </div><!-- /.listing-detail-attribute -->                                             

    <div class="listing-detail-attribute">
        <div class="key">Location</div>
        <div class="value">New York / Brooklyn</div>
    </div><!-- /.listing-detail-attribute -->                                             
                            
    <div class="listing-detail-attribute">
        <div class="key">Price</div>
        <div class="value">$ 280.000,00</div>
    </div><!-- /.listing-detail-attribute -->
</div><!-- /.listing-detail-attributes -->