<div class="box">
	<div class="box-inner">
		<div class="overview overview-half overview-no-margin">
	        <ul>
	            <li><strong>Country</strong><span>Canada</span></li>
	            <li><strong>City</strong><span>Toronto</span></li>
	            <li><strong>Address</strong><span>4886 Hickory Ridge Drive</span></li>
	            <li><strong>E-mail</strong><span><a href="mailto:">sample@example.com</a></span></li>
	            <li><strong>Phone</strong><span>+0-123-456-789</span></li>
	            <li><strong>Website</strong><span><a href="#">example.com</a></span></li>                    
	        </ul>	
        </div><!-- /.overview -->
	</div><!-- /.box-inner -->
</div><!-- /.box -->