<div class="listing-hero">
	<div class="listing-hero-inner">
		<div class="container">		
			<div class="listing-hero-image" style="background-image: url('assets/img/tmp/listing-9.jpg')"></div><!-- /.listing-hero-image -->	

			<h1>Famous Avenue Restaurant <i class="fa fa-check"></i></h1>

			<address>
				1812 Simons Hollow Road<br>
				Scranton, PA 18503
			</address>

			<ul class="social">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google"></i></a></li>
			</ul>			
		</div><!-- /.container -->
	</div><!-- /.listing-hero-inner -->
</div><!-- /.listing-hero -->

{% include components/listings/toolbar.html %}